<!-- <product
  [prd]="selectedProduct"
  (unSelectEventOutputEvent)="unselectProductParent(selectedProduct)"
  *ngIf="selectedProduct"
></product> -->
<div *ngIf="products.length > 0; else noProducts">
  <ng-template
    [ngTemplateOutlet]="productList"
    [ngTemplateOutletContext]="{ product: products }"
  ></ng-template>
</div>

<ng-template #productList let-product="product">
  <div *ngFor="let p of product">
    <div *ngIf="p.isActive" class="card mb-3 p-1">
      <div class="row">
        <div class="col-3">
          <img
            src="/assets/images/{{ p.imageUrl }}"
            alt=""
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <div class="card-title">{{ p.name }}</div>
            <p class="cart-test">{{ p.description }}</p>
            <a routerLink="/products/{{ p.id }}" class="btn btn-primary">
              Ürün Detay
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="alert alert-warning" *ngIf="products.length == 0">
    no products
  </div>
</ng-template>
